{% extends 'simple_base.html' %}

{% block header %}
  <h1>{% block title %}Versions{% endblock %}</h1>
{% endblock %}

{% block content %}

     <table style="border: 1px solid;">
         <tr>
            <th colspan="2">Run</th>
            <th rowspan="2">Created</th>
            <th rowspan="2">Variation</th>
            <th rowspan="2">Actions</th>
        </tr>
        <tr>
            <th>min</th>
            <th>max</th>
        </tr>

         {{ table_path }}
     <!-- -->

     {% for assignment in assignments %}
        <tr>
            <td>{{ assignment.run_range.min }}</td>
            <td>{{ assignment.run_range.max }}</td>
            <td>{{ assignment.created }}</td>
            <td>{{ assignment.variation.name }}</td>
            <td><a href='show_request?request=@assignment.request'>view</a></td>
        </tr>
    {% endfor %}

</table>

{% endblock %}