@extends("master.html")
@require(site_root, records)

@def title():
CCDB - Logs
@end

@def content():

<link rel="stylesheet" href="@site_root/js/data_tables/media/css/jquery.dataTables.css" />
<link rel="stylesheet" href="@site_root/js/data_tables/media/css/jquery.dataTables_themeroller.css" />
<script src="@site_root/js/jquery.cookie.js" type="text/javascript"></script>
<script src="@site_root/js/data_tables/media/js/jquery.dataTables.js" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#data_versions_table").dataTable( {
                                                 "sPaginationType": "full_numbers",
                                                 "aaSorting": [[ 0, "asc" ]]
                                             } );
    });

</script>

@if records:

<table id="data_versions_table" class="data_versions">
    <thead>
    <tr>
        <th>Created</th>
        <th>Action</th>
        <th>Description</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    @for record in records:
    <tr>
        <td>@record.created!s</td>
        <td>@record.action</td>
        <td>@record.description</td>
        <td>@record.author.name</td>
    </tr>
    @end
    </tbody>
</table>
@else:
No log records found
@end
@end