@extends("master.html")
@require(site_root, tables_autocomplete, variations)

@def title():
CCDB - Test Request
@end

@def content():
    <link rel="stylesheet" href="@site_root/css/jquery-ui/jquery-ui.css" />
    <script src="@site_root/js/jquery-ui.min.js"></script>

    <script type="text/javascript">
        function combineRequest()
        {
            //type table
            var type_table = $('#tableName').val();
            if(!type_table) {
                alert("Please specify type table");
                return false;
            }

            //run number
            var run = $('#runNumber').val();
            if(!run){
                alert("Please specify run number");
                return false;
            }

            //variation
            var variation = $('#variationSelect').val();

            //now we have everything to build request
            var request = type_table+":"+run +":"+ variation;

            //is there a date?
            var date = $('#dateText').val();
            if(date) request = request + ":" +date;

            //insert request value to our hidden input and return true
            console.log(request);
            $("#requestHidden").val(request);

            return true;
        }

        var acpl = @tables_autocomplete;


        $(document).ready(function () {

            $("#variationSelect").find("option[value=default]").attr('selected', true);

            $("input#tableName").autocomplete({
                                                  source: function(request, response) {
                                                      //show only first 10 autocomplete results
                                                      var results = $.ui.autocomplete.filter(acpl, request.term);
                                                      response(results.slice(0, 10));
                                                  }
                                              });
            //catch form submit
            $("#form1").submit(function(){
                return combineRequest();
            });

        });



    </script>

    <h1>Test Request</h1>
    <p>This page helps one to find out what data is returned for specified name path, run, variation and date</p>

    <form id="form1" runat="server" method="get" action="show_request" >

        <table>
            <!-- TYPE TABLE -->
            <tr>
                <td>Table</td>
                <td><input id="tableName" type="text"></td>
                <td class="remark">Start with typing / </td>
            </tr>

            <!-- VARIATION -->
            <tr>
                <td>Variation </td>
                <td>
                    <select id="variationSelect">
                        @for variation in variations:
                            <option value="@variation.name">@variation.name</option>
                        @end
                    </select>
                </td>
                <td></td>
            </tr>

            <!-- RUN RANGE -->
            <tr>
                <td>Run number</td>
                <td><input id="runNumber" type="text" value="0"></td>
            </tr>

            <!-- DATE -->
            <tr><td>Date</td> <td><input id="dateText" type="text"></td></tr>
        </table>
        <input type="hidden" value="" name="request" id="requestHidden">
        <input type="submit" value="Run">
    </form>
@end