@extends("master.html")
@require(site_root, assignments, table)

@def title():
CCDB - Data Versions
    @if table:
         - @table
    @end
@end

@def content():

<link rel="stylesheet" href="@site_root/js/data_tables/media/css/jquery.dataTables.css" />
<link rel="stylesheet" href="@site_root/js/data_tables/media/css/jquery.dataTables_themeroller.css" />
<script src="@site_root/js/jquery.cookie.js" type="text/javascript"></script>
<script src="@site_root/js/data_tables/media/js/jquery.dataTables.js" type="text/javascript"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#data_versions_table").dataTable( {
                                                 "sPaginationType": "full_numbers",
                                                 "aaSorting": [[ 2, "asc" ]]
                                             } );


    });

</script>

@if assignments:

<table id="data_versions_table" class="data_versions">
    <thead>
        <tr>
            <th colspan="2">Run</th>

            <th rowspan="2">Created</th>
            <th rowspan="2">Variation</th>
            <th rowspan="2">Actions</th>

        </tr>
        <tr>
            <th>min</th>
            <th>max</th>
        </tr>
    </thead>
    <tbody>
    @for assignment in assignments:
        <tr>
            <td>@assignment.run_range.min!s</td>
            <td>@assignment.run_range.max!s</td>
            <td>@assignment.created!s</td>
            <td>@assignment.variation.name</td>
            <td><a href='show_request?request=@assignment.request'>view</a></td>
        </tr>
    @end
    </tbody>
</table>
@else:
No table found
@end
@end