<!DOCTYPE HTML>
<html>
  <head>
    <!-- 
        Document   : internal
        Created on : Jan 2, 2011, 1:42:50 PM
        Author     : diraven (divine.raven@gmail.com, http://www.diraven.com)
        Description:
            n/a
    -->    
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="[var.cfg_root]/css/main.css">
    <link rel="stylesheet" type="text/css" href="[var.cfg_root]/css/internal.css">
    <script type="text/javascript" src="[var.cfg_root]/js/jquery.js"></script>
    <script type="text/javascript" src="[var.cfg_root]/js/main.js"></script>
  </head>
  <body>
    <div id="d_container">
      <div id="d_header">
        <div class="menu">
          <div class="edge_left">
            <div class="edge_right">
              <div class="content">
                <ul>
                  <li><a href="#">Browser</a></li>
                  <li><a href="#">Variations</a></li>
                  <li><a href="#">Constants</a></li>
                  <li><a href="#">Logs</a></li>
                  <li><a href="#">Documentation</a></li>
                </ul>
                <form action="./" method="post">
                  <div class="search">
                    <input type="text" name="keywords" value="">
                    <input type="submit" name="submit" value="SEARCH">
                    <div class="inp_edge_left"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="d_body">
        <div class="content">