<!DOCTYPE HTML>
<html>
  <head>
    <!-- 
        Document   : internal
        Created on : Jan 2, 2011, 1:42:50 PM
        Author     : diraven (divine.raven@gmail.com, http://www.diraven.com)
        Description:
            n/a
    -->    
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="[var.cfg_root]/css/main.css">
    <link rel="stylesheet" type="text/css" href="[var.cfg_root]/css/internal.css">
    <script type="text/javascript" src="[var.cfg_root]/js/jquery.js"></script>
    <script type="text/javascript" src="[var.cfg_root]/js/main.js"></script>
  </head>
  <body>
    <div id="d_container">
      <div id="d_header">
        <div class="menu">
          <div class="edge_left">
            <div class="edge_right">
              <div class="content">
                <ul>
                  <li><a href="#">Browser</a></li>
                  <li><a href="#">Variations</a></li>
                  <li><a href="#">Constants</a></li>
                  <li><a href="#">Logs</a></li>
                  <li><a href="#">Documentation</a></li>
                </ul>
                <form action="./" method="post">
                  <div class="search">
                    <input type="text" name="keywords" value="">
                    <input type="submit" name="submit" value="SEARCH">
                    <div class="inp_edge_left"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- CONTENT -->
      <div id="d_body">
        <div class="content">
			<link rel="stylesheet" type="text/css" href="[var.cfg_root]/css/doc_pages.css">
			<div id="search_documents" >
				<form method="get" action="http://www.google.com/search">
					<input type="text" placeholder="Search documents" name="q" value="">
					<input type="hidden"  name="sitesearch" value="https://halldweb1.jlab.org/ccdb/doc/" />
				</form>
			</div>

			<div class="center">
				<h1>Test template</h1>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
					  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
					  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					  dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
					  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
					  mollit anim id est laborum
			</div>
		
			<div class="clearer"></div>
        </div>
      </div>
      
      <!--
		FOOTER
      -->
      <div id="d_footer">
        CCDB Calibration and Conditions database. 
        <a href="https://halldweb1.jlab.org/mantisbt/bug_report_page.php"> Report a bug</a>
      </div>
    </div>
  </body>
</html>
