[onload;file='header.html';getbody]
<div class="center">
  <h1>Directory tree</h1>
  	<link rel="stylesheet" href="[var.cfg_root]/js/jquery_treeview/jquery.treeview.css" />

	<script src="[var.cfg_root]/js/jquery_treeview/jquery.treeview.js" type="text/javascript"></script>
	<script src="[var.cfg_root]/js/jquery_treeview/jquery.treeview.edit.js" type="text/javascript"></script>
	<script src="[var.cfg_root]/js/jquery_treeview/jquery.treeview.async.js" type="text/javascript"></script>
	<script type="text/javascript">
	    function initTrees() {
	        $("#browser").treeview({
	            url: "[onshow.cfg_data_provider_url]?op=objlist"
	            //url: "source.php"
	        });
	    }
	    $(document).ready(function () {initTrees();});
	    
	</script>
  <ul id="browser" class="filetree treeview">
  
  </ul>
</div>
[onload;file='footer.html';getbody]