<!DOCTYPE HTML>
        @require(site_root, site_cgi_root, site_url)
<html>
  <head>
    <!-- 

    -->    
    <title>
        @def title():
        CCDB
        @end
        @title()
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="@site_root/css/main.css">
    <link rel="stylesheet" type="text/css" href="@site_root/css/internal.css">
    <script src="@site_root/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="@site_root/js/main.js"></script>
  </head>
  <body>
    <div id="d_container">
      <div id="d_header">
        <div class="menu">
          <div class="edge_left">
            <div class="edge_right">
              <div class="content">
                <ul>
                  <li><a href="@site_cgi_root/objects">Tables</a></li>
                  <li><a href="@site_cgi_root/variations">Variations</a></li>
                  <li><a href="@site_cgi_root/test_request">Request</a></li>
                  <li><a href="@site_cgi_root/logs">Logs</a></li>
                  <li><a href="@site_cgi_root/doc">Documentation</a></li>
                </ul>
                <form method="get" action="http://www.google.com/search">
                  <div class="search">
                    <input type="text" placeholder="Search via google" name="q" value="">
                    <input type="hidden"  name="sitesearch" value="@site_url" />
                    <input type="submit" name="submit" value="SEARCH">
                    <div class="inp_edge_left"></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- CONTENT -->
      <div id="d_body">
        <div class="content">
            @def content():

            @end
            @content()
		
			<div class="clearer"></div>
        </div>
      </div>
      
      <!--
		FOOTER
      -->
      <div id="d_footer">
          @def footer():
          CCDB Calibration and Conditions database.
          <a href="https://halldweb1.jlab.org/mantisbt/bug_report_page.php"> Report a bug</a>
          @end
          @footer()

      </div>
    </div>
  </body>
</html>
