/* 
    Document   : main
    Created on : Jan 2, 2011, 1:42:50 PM
    Author     : diraven (divine.raven@gmail.com, http://www.diraven.com)
    Description:
        n/a
*/

root { 
    display: block;
}

body {
  margin: 0;
  padding: 0;
  
  background-color: #e0e0e0;
  
  font-family: Arial,serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

div {
  position: relative;
/*  border: black solid 1px;*/
}

img {
  border: 0;
}

.clearer {
  clear: both;
}

#d_container {
  width: 970px;
  
  margin: 0 auto;
}

a.tree_link{
    color: #696969;
    text-decoration: underline;
}

a.table_link{
    color: #000000;
    text-decoration: none;
}

.remark{
    color: #696969;
    font-style: italic;
}
/*============================================================================*/
/*D_HEADER*/
#d_header {
  height: 500px;
}

/*D_HEADER HEAD*/
#d_header div.head {
  height: 105px;
}

#d_header div.head img.logo {
  position: absolute;
  
  top: 18px;
  left: 0;
}

#d_header div.head img.slogan {
  position: absolute;
  
  top: 38px;
  left: 300px;
}

#d_header div.head img.phone {
  position: absolute;
  
  top: 28px;
  left: 605px;
}

#d_header div.head div.shortcuts {
  position: absolute;
  
  top: 38px;
  left: 815px;
}

#d_header div.head div.shortcuts div.shortcut {
  position: absolute;
  
  height: 32px;
  width: 32px;
  
  text-align: center;
  
  background: url(../img/header/circle.png) no-repeat;
}

#d_header div.head div.shortcuts div.shortcut a {
  display: block;
  line-height: 20px;
}

#d_header div.head div.shortcuts div.shortcut img {
  vertical-align: bottom;
}

#d_header div.head div.shortcuts div.icq img {
  vertical-align: -7px;
}

#d_header div.head div.shortcuts div.home {
  left: 35px;
}

#d_header div.head div.shortcuts div.mail {
  left: 70px;
}

#d_header div.head div.shortcuts div.sitemap {
  left: 105px;
}

/*D_HEADER MENU*/
#d_header div.menu {
  height: 42px;
  font-family: Verdana;
  font-size: 12px;
}

#d_header div.menu div.edge_left{
  background: url(../img/header/menu/edge_left.png) left no-repeat;
}

#d_header div.menu div.edge_right{
  background: url(../img/header/menu/edge_right.png) right no-repeat;
}

#d_header div.menu div.content{
  top: 1px;
  margin-left: 23px;
  margin-right: 19px;
  
  background: url(../img/header/menu/bg.png) repeat-x;
}

#d_header div.menu div.content ul{
  height: 45px;
  
  margin: 0px;
  padding: 0px;
}

#d_header div.menu div.content ul li{
  height: 41px;
  
  float: left;
  
  padding: 0px 20px;
  
  background: url(../img/header/menu/divider.png) right no-repeat;
  
  list-style: none;
  
  line-height: 40px;
}

#d_header div.menu div.content ul li a{
  text-decoration: none;
  color: #000;
}

#d_header div.menu div.content ul li:first-child{
  padding-left: 0px;
}

#d_header div.menu div.content div.search{
  width: 235px;
  height: 24px;

  position: absolute;
  
  right: 0px;
  top: 8px;
}

#d_header div.menu div.content div.search div.inp_edge_left{
  width: 10px;
  height: 24px;
  
  position: absolute;
  
  left: 0px;
  top: 0px;
  
  background: url(../img/header/menu/search_inp_edge_left.png) left no-repeat;

}
#d_header div.menu div.content div.search input[type=text]{
  width: 164px;
  height: 24px;
  
  position: absolute;
  
  line-height: 24px;
  
  left: 10px;
  top: 0px;
  
  border: none;
  
  background: url(../img/header/menu/search_inp_bg.png) repeat-x;

}

#d_header div.menu div.content div.search input[type=submit]{
  width: 60px;
  height: 100%;
  
  position: absolute;
  
  right: 0px;
  top: 0px;
  
  background: url(../img/header/menu/search_btn_bg.png) right repeat-x;

  border: none;
  
  color: #fff;
  font-family: Verdana;
  font-size: 10px;
  text-align: right;
}

/*D_HEADER BRIEF*/
#d_header div.brief {
  height: 350px;

}

#d_header div.brief div.image{
  width: 580px;
  height: 350px;
  
  position: absolute;
  left: 0px;
  top: 0px;
  
  background-repeat: no-repeat;
  background-position: right;
}

#d_header div.brief div.text {
  width: 390px;
  height: 350px;
  
  position: absolute;
  left: 580px;

  background-repeat: no-repeat;
  background-position: left;
}
/*============================================================================*/
/*D_BODY*/
#d_body {
  
}

/*D_BODY BRIEF*/
div.brief {
  height: 237px;
  top: -4px;
}

div.brief div.edge_left{
  height: 237px;
  background: url(../img/body/brief/edge_left.png) left no-repeat;
  padding-left: 20px;
}

div.brief div.edge_right{
  height: 237px;
  background: url(../img/body/brief/edge_right.png) right no-repeat;
  padding-right: 19px;
}

div.brief div.blocks div.block{
  width: 232px;
  height: 237px;
  
  position: absolute;
  top: 0px;
  
  border-left: #d0d0d0 solid 1px;
  background: url(../img/body/brief/bg.png) repeat-x;
}

div.brief div.blocks div.block:first-child{
  border-left: none;
}

div.brief div.blocks div.block:first-child div.content{
  margin-left: 15px;
}

div.brief div.blocks div.block:first-child div.detailed{
  margin-left: 0px;
}


div.brief div.blocks div.block div.content{
  width: 90%;
  margin-left: 25px;
}

div.brief div.blocks div.block div.detailed{
  margin-left: 10px;
}

div.brief div.blocks div.block div.caption{
  width: 100%;
  height: 80px;
  
  display: table-cell;
  vertical-align: middle;
  
  text-align: left;
  
  font-family: Verdana;
  font-size: 17px;
  color: #47617e;
}

div.brief div.blocks div.block div.description{
  width: 100%;
  height: 62px;
  
  text-align: left;

  font-family: Arial;
  font-size: 13px;
  color: #47617e;
}

div.brief div.blocks div.block div.detailed{
  width: 99px;
  height: 26px;
  
  padding-top: 7px;
  
  position: absolute;
  bottom: 38px;
  left: 10px;
  background: url(../img/body/brief/detailed_btn.png) no-repeat;

  text-align: center;
}
div.brief div.blocks div.block div.detailed a{
  font-family: "Tahome";
  font-size: 10px;
  color: #47617e;
  text-decoration: none;
}

div.brief div.blocks div.block1{
}

div.brief div.blocks div.block2{
  left: 25%;
}

div.brief div.blocks div.block3{
  left: 50%;
}

div.brief div.blocks div.block4{
  left: 75%;
}

/*D_BODY CONTENT*/
#d_body div.content {
  margin-top: 40px;
}

/*D_BODY CONTENT LEFT*/
#d_body div.content div.left {
  width: 230px;
  
  padding-left: 10px;

  float: left;
}

#d_body div.content div.left ul {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

#d_body div.content div.left li {
  margin: 10px 0px;
}

#d_body div.content div.left li a {
  color: #000;
  font-size: 13px;
}

#d_body div.content div.left ul ul, #d_body div.content div.center ul {
  margin: 0;
  padding-left: 15px;
  
  list-style-image: url(../img/body/list.png);
}

#d_body div.content div.left h1 {
  font-family: Verdana;
  font-size: 17px;
  color: #47617e;
}

/*D_BODY CONTENT CENTER*/
#d_body div.content div.center{
  width: 490px;
  
  padding-right: 20px;

  float: left;
}

#d_body div.content div.center h1{
  font-size: 29px;
  color: #35577d;
}

#d_body div.content div.center ul {
  margin-left: 20px;
}

/*D_BODY CONTENT RIGHT*/
#d_body div.content div.right{
  margin-top: 24px;
  width: 220px;
  float: left;
}

#d_body div.content div.right div.login{
  width: 202px;
  margin: 0 auto;
  text-align: center;
}

#d_body div.content div.right div.login input[type=text], #search_documents input[type=text]{
  width: 169px;
  height: 24px;
  
  line-height: 24px;
  
  background: url(../img/body/password_inp.png) no-repeat;
  
  font-family: Verdana;
  font-size: 13px;
  color: #35577d;
  
  padding: 0 15px;
  
  margin: 20px 0 30px 0;
  
  border: none;
  outline: none 0;
}

#d_body div.content div.right div.news{
  width: 202px;
  
  margin: 0 auto;
}

#d_body div.content div.right h1{
  margin: 0;
  font-family: Verdana,monospace;
  font-size: 17px;
  color: #35577d;
}

#d_body div.content div.right h2, #d_body div.content div.right h2 a{
  margin: 0;
  font-family: Verdana,monospace;
  font-size: 12px;
  color: #35577d;
}

#d_body div.content div.right div.news div.header{
  padding: 15px 20px 0px 20px;
  height: 23px;
  background: url(../img/body/news/edge_top.png) no-repeat;
}

#d_body div.content div.right div.news div.body{
  background: #f9faf9 url(../img/body/news/bg_bottom_gradient.png) bottom repeat-x;
  
  border-left: #d3d3d3 solid 1px;
  border-right: #d3d3d3 solid 1px;
  
  padding: 20px;
}

#d_body div.content div.right div.news div.body p{
  margin: 10px 0px;
}

#d_body div.content div.right div.news div.body p a{
  font-family: Arial;
  font-size: 11px;
  
  display: block;
  
  color: #575757;
}

#d_body div.content div.right div.news div.body p:first-child{
  margin-top: -7px;
}

#d_body div.content div.right div.news div.body p a:first-line{
  font-weight: bold;
}

#d_body div.content div.right div.news div.body p a:hover{
  text-decoration: none;
  color: #f75707;
}

#d_body div.content div.right div.news div.footer{
  width: 100%;
  height: 9px;
 
  background: url(../img/body/news/edge_bottom.png) no-repeat;
}

#d_body ul.treeview, #d_body ul.treeview li, #d_body ul.treeview ul
{
    list-style-image:none;
}
/*============================================================================*/
/*D_FOOTER*/
#d_footer {
  margin: 60px 0 15px 0;
  padding:15px 50px;
  height: 20px; /*+30 of padding = 50 */
  background: #6cab26;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FCFCFC', endColorstr='#E4E4E4',GradientType=0 ); /*IE7*/
  background-image:  -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#E4E4E4)); /* Saf4+, Chrome */
  background-image:  -webkit-linear-gradient(top, #FCFCFC, #E4E4E4); /* Chrome 10+, Saf5.1+ */
  background-image:     -moz-linear-gradient(top, #FCFCFC, #E4E4E4); /* FF3.6+ */  
  background-image:      -ms-linear-gradient(top, #FCFCFC, #E4E4E4); /* IE10 */
  background-image:       -o-linear-gradient(top, #FCFCFC, #E4E4E4); /* Opera 11.10+ */
  background-image:          linear-gradient(top, #FCFCFC, #E4E4E4); /* W3C */
  border-bottom: 1px #D2D2D2;
  border-right: 1px #D2D2D2;
  box-shadow:1px 1px 2px #DBDBDB;
  border-radius:9px;
  color: #47617E;
  font-family: Arial;
  font-size: 13px;
}

#d_footer a, #d_footer a:link, #d_footer a:visited 
{
  color: #47617E;
}
#d_footer a:hover 
{
  color: #600;
}

#d_footer div.blocks div.block h1{
  font-size: 11px;
  font-weight: bold;
  
  margin: 0 0 10px 0;
}
